pom.xml
pom.xml.asc
*.jar
*.class
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
*.iml
*.log

## application
node_modules
.shadow-cljs
.lsp/.cache
.clj-kondo/.cache
.cpcache/
.calva
.idea
.lein-*
.nrepl-*
.socket-*

lib/node_modules/
lib/lib
lib/styles

resources/front/test
resources/front/public/assets
resources/public/assets
resources/front/public/mockServiceWorker.js

/src/gen

.DS_Store
