{:source-paths ["src" "test"]
 :dependencies [[lilactown/helix "0.1.9"]
                [lambdaisland/fetch  "1.1.60"]
                [funcool/promesa "9.0.494"]]
 :builds {:app {:target           :browser
                :devtools         {:http-port 8000
                                   :http-root "public"
                                   :preloads [dev.refresh]
                                   :reload-strategy :full}
                :modules          {:main {:init-fn main.app/init}}
                :compiler-options {:install-deps true}}

          :tests {:target    :browser-test
                  :test-dir  "target/test"
                  :ns-regexp "-test$"
                  :devtools  {:http-port 8100
                              :http-root "target/test"}}

          :ci-tests {:target           :karma
                     :output-to        "target/test/ci.js"
                     :ns-regexp        "-test$"
                     :compiler-options {:static-fns false}}}}
