{:paths ["src/dev"
         "src/main"
         "src/test"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        lilactown/helix {:mvn/version "0.1.9"}
        funcool/promesa {:mvn/version "9.0.494"}

        metosin/reitit-schema {:mvn/version "0.5.18"}
        metosin/reitit-frontend {:mvn/version "0.5.18"}
        lambdaisland/fetch {:mvn/version "1.1.60"}}

 :aliases
 {;; frontend
  :cljs {:extra-paths ["test/front"]
         :extra-deps {cider/cider-nrepl {:mvn/version "0.28.6"}
                      thheller/shadow-cljs {:mvn/version "2.20.10"}}}

  ;; clj -M:clojure-lsp
  :clojure-lsp {:replace-deps {com.github.clojure-lsp/clojure-lsp-standalone {:mvn/version "2022.09.01-15.27.31"}}
                :main-opts ["-m" "clojure-lsp.main"]}
  ;; clj -M:nrepl
  :nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.30.0"}}
          :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}}}
