[{:title ["Building a blog with clojure and clojurescript"], :id #uuid "877aaac8-92a3-4e7f-96a9-629544f90ecf", :date ["2023-12-23"], :tags ["clojure, clojurescript, blog, berry"], :href "./posts/first-post.html"}]