[{:title ["Building a blog with clojure and clojurescript"], :id #uuid "7f2c665d-2928-4541-8eba-c9404e8e8ea3", :date ["2023-12-23"], :tags ["clojure, clojurescript, blog, berry"], :href "./posts/first-post.html"}]